.nav-name {
    font-size: 14px;
    font-weight: 600;
}
.nav-link {
    font-size: 14px;
}
.page-container {
    max-width: 800px;
    padding: 80px 24px;
    margin: auto;
}
h1 {
    margin-bottom: 35px;
}
.profile-img {
    color: #7d7d7d;
    font-size: 75px;
    text-align: center;
    border: 1px solid #e4e4e4;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;
}
@media (max-width: 768px) {
    .my-profile-container {
        padding: 32px;
        text-align: center;
    }
}
.name {
    font-size: 17px;
    font-weight: 600;
}
.email, .phone, .college {
    font-size: 17px;
    font-weight: 400;
}
.edit-profile {
    font-size: 11px;
    text-decoration: underline;
    cursor: pointer;
}
.my-interested-property {
    background-color: #fcfaf7;
    
}
.page-container {
    max-width: 800px;
}
.property-card {
    background-color: white;
    max-width: 800px;
    display: flex;
    flex-direction: row;
    height: 250px;
    margin: auto;
    box-shadow: 1px 1px 1px gray ;
}
.property-card:hover {
    box-shadow: 2px 2px 4px gray;
}
@media (min-width: 768px){
    .property-card {
        margin: 18px 0px;
    }
}
@media (min-width: 767px) and (max-width: 991px){
    .property-card {
        margin: 18px 0px;
    }
}
@media (max-width: 768px){
    .property-card {
        flex-direction: column;
        height: 520px;
        margin: 18px 0px;
    }
}

.col-md-4 {
    padding: 10px;
}

.img-fluid {
    max-height: 100%;
    max-width: 100%;
}
/* .col-md-8 {
} */
.interested-text {
    font-size: 10px;
    text-align: center;
}
.property-name {
    font-size: 18px;
    font-weight: 700;
}
.property-gender img{
    height: 46px;
}
.rent-container {
    display: flex;
    align-items: center;
}
.rent {
    font-size: 18px;
    font-weight: 700;
}
.button-container {
    text-align: end;
    margin-bottom: 10px;
}
.button-container a {
    background-color: rgb(35, 203, 198);
    width: 140px;
    font-size: 14px;
    font-weight: 500;
    padding: 5px 40px;
}
.button-container a:hover {
    text-decoration: none;
    background-color: rgb(35, 203, 175);;
}
.footer {
    width: 100%;
    background-color: rgb(47, 44, 44);

}
.footer-cities {
    display: flex;
    justify-content: center;
}
@media (max-width:769px) {
    .footer-cities {
        display: block;
        justify-content: center;
        text-align: center;
        padding-top: 15px;
    }
    .footer-city {
        padding: 0px
    }
}
.footer-city {
    padding: 0px 40px;
}
.footer-city a {
    color: #ffffff;
    font-size: 14px;
}
.footer-copyright {
    color: #cbc3c3;
    font-size: 13px;
    text-align: center;
    padding: 30px 0px;
}