 * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.container-fluid {
    width: 100vw;
    padding-left: 0px;
    overflow-x: hidden;
}
head{
    width: 100%;
}
.header{
    width: 100%;
}
.img-container{
    position: relative;
    text-align: center;
    color: white;
    width: 100%;
}
.img-heading{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
button{
    display: none;
}
nav ul{
    display: flex;
    align-items: center;

}
nav ul li{
    list-style: none;
    padding: 0px 30px;
}
nav ul li a {
    text-decoration: none;
    color: black;
}
@media (max-width: 400px) {
    .navbar ul{
        display: none;
    }  
}
  
@media (max-widt: 640px){
    button {
        display: block;
    }
}
.img-heading h2{
    overflow: hidden;
}
@media (max-width: 450px) {
    .img-heading h2{
        font-size: medium;
    }
}
.img-heading input {
    width: 50%;
    height: 35px;
    border: solid 1px grey;
    border-radius: 5px;
    background-color: transparent;
}
.searchDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-bar{
    border: 1px solid #a9a9a9;
    background-color: #3a3636;
    font-size: 19px;
    padding: 8px;
    border-radius: 5px;
}
#search-bar:hover{
    cursor: pointer;
}
.page-container{
    margin-top: 70px;
    padding-bottom: 30px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.row{
    display: flex;
    justify-content: center;
    margin-bottom: 40px;

}
.city-div {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.city-img{
    width: 180px;
    height: 180px;
    margin: 6px;
    padding: 20px;
    border-radius: 50%;
    box-shadow:
       inset 0 -3em 3em rgba(0,0,0,0.1),
             0 0  0 1px rgba(0,0,0,0.1);
             /* 0.3em 0.3em 1em rgba(0,0,0,0.3); */
}
.city-img:hover{
    background-color: #e7e9e9;
    filter: drop-shadow(-1px -1px 4px gray);
}
.city-img img {
    height: 100%;
    width: 100%;
    
}
/* .city-img::shadow{
    color: rgb(200, 26, 26);
} */
.footer {
    background-color: rgb(64, 55, 55);
    width: 100%;

}
.footer-container {
        padding: 24px;
 }
  
 .page-container {
    max-width: 800px;
    padding: 80px 24px;
    margin: auto;
}
.footer-cities {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
@media (max-width: 500px) {
    .footer-cities{
        flex-direction: column;
    }
    
}
.footer-city {
    margin-bottom: 8px;
    text-align: center;
}
.footer-city a {
    color: #ffffff;
    text-decoration: none;
}
.footer-copyright {
    color: #a9a9a9;
    text-align: center;
    padding-top: 24px;
}